<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusDiary"
        tools:targetApi="31">
        <activity
            android:name=".pages.communication.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".pages.marketplace.ProductPage"
            android:exported="false" />
        <activity
            android:name=".pages.marketplace.RegisterProduct"
            android:exported="false" />
        <activity
            android:name=".pages.Community.PostPage"
            android:exported="false" />
        <activity
            android:name=".pages.Community.CommunityPage"
            android:exported="false" />
        <activity
            android:name=".pages.Community.CreateCommunity"
            android:exported="false" />
        <activity
            android:name=".settings.ManageInterests"
            android:exported="false" />
        <activity
            android:name=".auth.JoinCampus"
            android:exported="false" />
        <activity
            android:name=".settings.EditProfile"
            android:exported="false" />
        <activity
            android:name=".pages.Profile"
            android:exported="false" />
        <activity
            android:name=".pages.CreateChat"
            android:exported="false" />
        <activity
            android:name=".pages.Community.CreatePost"
            android:exported="false" />
        <activity
            android:name=".auth.ConfirmPassword"
            android:exported="false" />
        <activity
            android:name=".auth.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".FlashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.Register"
            android:exported="false" />
        <activity
            android:name=".auth.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>